<footer class="container text-center">
    <hr>
    <div class="social">
        <a target="_blank" href="mailto:josephle@me.com"><i class="fa fa-lg fa-envelope"></i></a>
        <a target="_blank" href="https://twitter.com/JosephNQLe"><i class="fa fa-lg fa-twitter"></i></a>
        <a target="_blank" href="https://github.com/josephnle"><i class="fa fa-lg fa-github-alt"></i></a>
        <a target="_blank" href="http://www.linkedin.com/in/josephnqle/"><i
                class="fa fa-lg fa-linkedin"></i></a>
        <a target="_blank" href="http://stackoverflow.com/users/3870377/joseph"><i
                class="fa fa-lg fa-stack-overflow"></i></a>
    </div>
    <br />
</footer>