<nav class="j-nav">
    <a href="/index.html" class="my-name logo">JL</a>

    <ul>
        <li><a href="/about.html"{{#is title 'About'}} class="active"{{/is}}>About</a></li>
        <li><a href="/portfolio.html"{{#is title 'Portfolio'}} class="active"{{/is}}>Portfolio</a></li>
        <li><a href="#"{{#is title 'Resume'}} class="active"{{/is}}>Resume</a></li>
        <li><a href="#"{{#is title 'Contact'}} class="active"{{/is}}>Contact</a></li>
    </ul>
</nav>