<nav class="j-nav {{ classOptions }}">
    <a href="/" class="my-name logo">JL</a>

    <ul>
        <li><a href="#">About</a></li>
        <li><a href="#">Portfolio</a></li>
        <li><a href="#">Resume</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
</nav>