$icon-font-path: '../fonts/';

@import "_variables";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import "nav";
@import "landing";
@import "portfolio";

html, body {
  height: 100%;
}

.my-name {
  font-family: $font-family-serif;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
