$nav-padding-vertical: 10px;
$nav-color: #000;
$nav-line-size: 3px;
$nav-height: 51px + 45px + 5px;
$nav-min-width: 352px;
$nav-logo-height: 51px;

.j-nav {
  width: 100%;
  height: $nav-height;
  text-align: center;
  font-size: $font-size-base * 1.1;

  .logo {
    display: block;
    padding-top: 5px;
    height: $nav-logo-height;
    font-size: $font-size-h1;
    color: black;

    &:hover {
      border-bottom: none;
    }
  }

  a {
    color: black;
    border-bottom: none;

    &.active {
      border-bottom: $nav-line-size solid $nav-color;
    }

    &:hover {
      text-decoration: none;
      border-bottom: $nav-line-size solid $nav-color;
    }

    &:visited {
      text-decoration: none;
    }
  }

  ul {
    //display: none;
    list-style: none;
    padding: $nav-padding-vertical 0;
    margin-bottom: 0;

    li {
      padding: 10px 15px;
      margin: 0;
      display: inline;
    }
  }

  @media (min-device-width: $screen-md-min) {

    ul {
      li {
        padding: 0 15px;
        display: inline;
      }
    }
  }
}