{{#extend 'layout' title='Basic Bites'}}

    {{#content 'content'}}
        <div class="container project-page">
            <h1>Basic Bites</h1>
            <p class="lead">
                For my project for COGS 187A: Usability & Information Architecture, my team and I created a recipe website based on our user research and needfinding.
            </p>

            <p>
                Basic Bites was my final project completed for UCSD's COGS 187A (Usability and Information Architecture). We were to combine all that we learned about information architecture, user scenarios, storyboarding, and use cases to create a website that only looked well-designed but also provided an easy-to-use and excellent experience for our target audience. We decided to create a recipe website with simple and affordable recipes to help out both our fellow college students and economical families.
            </p>

            <p>
                <a href="http://josephle.me/basicbites" class="h4">Check it out live</a>
            </p>

            <h2 class="h3">My Role</h2>
            <p>
                I worked with two other classmates, <a href="http://michelleawu.com/">Michelle Wu</a> and Jamie Santos. All of us shared the research work equally. We each interviewed 3 individuals from our three user groups: college students, beginner cooks, and parents. We predicted how our users would interact with our website and we put our theories to the test in our research. We also created user scenarios based on our research as well. Furthermore, we completed a competitive analysis of similar websites such as Yummly, Epicurious, and Budget Bytes and extracted the main features we appreciated the most from the sites. As for the development itself, I was the main team member in charge of writing the HTML, SASS/CSS, and JavaScript.
            </p>

            <img src="/images/projects/basicbites/home.png" alt="Basic Bites" class="img-responsive">

            <br />

            <img src="/images/projects/basicbites/recipes.png" alt="Basic Bites Recipes" class="img-responsive">

            <br />

            <img src="/images/projects/basicbites/about.png" alt="Basic Bites About" class="img-responsive">
        </div>
    {{/content}}

{{/extend}}