{{#extend 'layout' title='UCSD Circle K'}}

    {{#content 'content'}}
        <div class="container project-page">
            <h1>UCSD Circle K</h1>
            <p class="lead">
                As the 2015-2016 Tech Chair of UCSD Circle K, I revamped and rewrote the website and appointed and led a team to help me.
            </p>

            <p>
                With over 150 registered members in the past year, UCSD Circle K is one of the largest student service organizations on the UCSD campus. Members rely greatly on the website, particularly the calendar, to find out what events are available. The organization also relies on members registering their event attendance to ensure that the logistics are in place for all members. This year, a whole new platform (both frontend and backend) was introduced, replacing a system that was in use for more than 4 years.
            </p>

            <p>
                <a href="http://josephle.me/basicbites" class="h4">Check it out live*</a>
                <br />
                <small>*I am no longer Tech Chair anymore but the framework is still the same!</small>
            </p>

            <h2 class="h3">My Role</h2>
            <p>
                As the Technology Chair, I was tasked with the responsibility of maintaining UCSD Circle K's website. However, I wanted to rethink the experience and design to ensure that our members and officers can easily and enjoyably fulfill their needs. I brought on a team of 5 designers and developers and quickly built up their skill sets to meet the requirements of the project. I also contributed a great deal of frontend code and design utilizing AngularJS, PHP, SASS, Bourbon, and Neat as well as the majority of the backend work utilizing Laravel.
            </p>

            <h2 class="h3">The Old Website</h2>
            <img src="/images/projects/cki/old.png" alt="Old Website" class="img-responsive">

            <h2 class="h3">The New Website</h2>
            <img src="/images/projects/cki/home.png" alt="UCSD Circle K" class="img-responsive">

            <br />

            <img src="/images/projects/cki/event.png" alt="UCSD Circle K Event" class="img-responsive">

            <br />

            <img src="/images/projects/cki/calendar.png" alt="UCSD Circle K Calendar" class="img-responsive">
        </div>
    {{/content}}

{{/extend}}