{{#extend 'layout' title='Ice Blast'}}

    {{#content 'content'}}
        <div class="container project-page">
            <h1>Ice Blast</h1>
            <p class="lead">
                For my project for COGS 187B: Practicum in Professional Web Design, my team and I worked with Ice Blast, a local shaved ice shop in San Diego.
            </p>

            <p>
                Our friend Jimmy had opened a shaved ice shop but his website was super outdated. Luckily, for COGS 187B, my group was looking for a client! We designed and coded a completely new website for Jimmy. We went through a comprehensive and extensive design and research process including:
            </p>

            <ul>
                <li>Client Proposal and Initial Requirements Gathering</li>
                <li>User Interviews</li>
                <li>Competitive Analysis</li>
                <li>Mood Boards</li>
                <li>Creative Brief</li>
                <li>Wireframing</li>
                <li>Prototyping</li>
            </ul>

            <h2 class="h3">My Role</h2>
            <p>
                Along with my group, I actively communicated with our client to figure out his needs for the website. Each member of the group was also responsible for completing user interviews and completing competitive analysis. We completed the website together using Bootstrap.
            </p>

            <h2 class="h3">The Old Website</h2>

            <img src="/images/projects/iceblast/old.png" alt="Old Ice Blast Website" class="img-responsive">

            <h2 class="h3">The New Website</h2>

            <img src="/images/projects/iceblast/home.png" alt="Ice Blast" class="img-responsive">
        </div>
    {{/content}}

{{/extend}}