{{#extend 'layout' title='Scouter'}}
    {{#content 'content'}}
        <div class="container project-page">
            <div class="project-header">
                <h1>Scouter</h1>
                <p class="lead">
                    Scouter is a side project turned startup focused on creating a better career development experience for students, schools, and recruiters.
                </p>

                <p>
                    It all started while Ryan Hill, Mike Shi, Thomas Chang, and I all worked on <a href="#">SD Hacks 2015</a> together. We needed a way to allow our sponsors and recruiters to browse our students' resumes easily and efficiently. Being short on time, we weren't able to put a super polished interface together, but to our surprise, it worked. It wasn't only functional but actually kind of good based on the feedback we received. When we looked into the space more, we didn't see any polished services that worked with career fairs directly to handle the talent pipeline in its entirety, from attendee information acquisition to resume browsing to event analytics. Thus, Scouter was born.
                </p>

                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <img src="/images/projects/scouter/logo.png" alt="Recruiter Mockup" class="img-responsive">
                    </div>
                </div>

                <h2 class="h3">My Role</h2>
                <p>
                    I wear many hats with Scouter. For the MVP, I was the main developer for the backend, worked on the frontend as needed, and set up the infrastructure on AWS. I helped conduct user interviews and contributed to the observations needed for product research. I actively contributed to all design, branding, and product discussions. We tested and scaled product to 2000+ users consisting of students and soon, university recruiters.
                </p>

                <h2 class="h3">The Research</h2>
                <p>
                    Our goal was to launch at UCSD's DECaF in February 2016, so our timeline was tight. We had some good information from SD Hacks including the needs & frustrations of students and event organizers. However, we were lacking a comprehensive understanding of the recruiters' side of things. Thanks to SD Hacks and personal connections, we were able to reach out to some awesome recruiters that gave us a glimpse of their processes. Recruiters look for many factors but they boil down to two big factors: skills and culture fit. How each company goes about determining these factors is unique.
                </p>

                <p>
                    We found that each recruiter and each company had their unique recruiting process at career fairs. For example, many preferred paper stacks of resumes as it provided them with a physical means of organizing information, similar to how a whiteboard allows one to organize ideas differently than any other medium. Some would much rather forgo the whole paper ordeal and have all information uploaded digitally as soon as possible. Others actually preferred both! To get an even better understanding of the recruiting experience, we observed and analyzed UCSD's Winter Career Fair.
                </p>

                <h3 class="h4">Observing a Fair</h3>
                <p>
                    Stepping back from the hustle of participating in the career fair allowed us to get a very interesting look at the experience overall. We noticed that each recruiting team really did have a different goal in mind. Some were focused on determining culture fit right on the spot, some were only interested in giving out information, and some were focused on determining technical skills right on the spot. We also found that there was that there was also a large amount of mismatch overall between recruiters and students.
                </p>

                <p><em>More observations to come</em></p>


                <img src="/images/decaf.jpg" alt="" class="img-responsive">

                <h2 class="h3">The Product</h2>
                <p>
                    With our research in hand, we started on a MVP to provide a testing and research platform. We focused a large amount of attention on the factors recruiters looked for in students since we realize the large amount of information collected at career fairs needed to be organized. With DECaF and other UCSD events, recruiters are often handed a bundle of resumes with no organization at all. Our first prototype to attempt to solve the issue of data management is resume filtering.
                </p>

                <img src="/images/projects/scouter/recruiter_mockup.png" alt="" class="img-responsive">

                <p>
                    Filtering is a pillar of data management and we knew that to be valuable to recruiters, we needed to have a filtering interface that's extremely easy to use. Furthermore, since recruiting is often a team effort, we wanted a way for recruiters to be able to view and share the data they were processing with other members of their team.
                </p>

                <p>
                    On the student side, we provided an easy way to register for the event and submit information. We wanted to reduce the frustrating and menial work associated with registering and submitting information. Our process was inspired by the simplicity and conversation-like nature of Typeform.
                </p>

                <p><em>More design process to come</em></p>

                <img src="/images/projects/scouter/student1.png" alt="Student View" class="img-responsive">

                <br />

                <img src="/images/projects/scouter/student2.png" alt="Student View" class="img-responsive">

                <h2 class="h3">The Evolution</h2>
                <p>
                    While working on Scouter, we realized very early on that the real issue with career fairs was bigger than just great resume filtering. In my opinion, the entire experience is fundamentally flawed. At DECaF, I observed directly that both students and recruiters are packed in ballrooms like sardines, fighting for space and over each others' voices. Students wait in long lines one after another, just to have a chance at speaking with a recruiter for perhaps 5 minutes. Recruiters speak to students back to back, hastily jotting down notes while students are quickly going over their life stories. There needs to be a better way to acquire talent or get a job.
                </p>

                <p>
                    Before DECaF, I attended a small event hosted by a visiting company (also attending DECaF). This event provided a stark contrast to the business of a large career fair. The event was hosted in a small classroom no bigger than the average high school classroom and there were a total of maybe 40 people, including both students and the recruiting team. In my opinion, this arrangement worked really well because recruiting could be done in a relaxed, personal, and civilized manner. Each student was able to meet with the whole recruiting team and really have a chance for personal interaction. From a recruiting standpoint, the team could be confident that students were interested in the company because they didn't end up at the event by chance - they're there because they really <em>wanted</em> to be there.
                </p>

                <p>
                    In the coming weeks and months, we'll be doing a lot more research and analysis as we get more time with recruiters and I'm personally super excited to see what we find as a team!
                </p>
            </div>
        </div>
    {{/content}}
{{/extend}}