{{#extend 'layout' title='Scoutr'}}
    {{#content 'content'}}
        <div class="container project-page">
            <h1>Scoutr</h1>
            <p class="lead">
                Scoutr was a new take on consuming content - instead of going through a linear timeline, we had a
                spatial
                interface that allowed users to <em>explore</em> the content around them.
            </p>

            <p>
                On this project, I worked in conjunction with another team member to design the mobile app interface. We
                unfortunately did not get to implement the design.
            </p>

            <div class="row">
                <div class="col-md-3 text-center">
                    <img src="../images/projects/scoutr/home.png" alt="Home" class="img-responsive">
                    <p>Main screen where users can explore stories happening around them</p>
                </div>
                <div class="col-md-3 text-center">
                    <img src="../images/projects/scoutr/trending.png" alt="Trending" class="img-responsive">
                    <p>Trending stories once the user opens the search panel</p>
                </div>
                <div class="col-md-3 text-center">
                    <img src="../images/projects/scoutr/trending-go.png" alt="Trending - Go" class="img-responsive">
                    <p>Story turns into a GO button when users taps</p>
                </div>
                <div class="col-md-3 text-center">
                    <img src="../images/projects/scoutr/immersion.png" alt="Immersion" class="img-responsive">
                    <p>Individual story screen where users can browse photos</p>
                </div>
            </div>

            <br />

            <div class="row">
                <div class="col-xs-12 col-md-10 col-md-offset-1">
                    <div class="embed-responsive embed-responsive-4by3">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/LkYysFun5HU"></iframe>
                    </div>

                    <p class="text-center">Prototype made using Keynote</p>
                </div>
            </div>
        </div>
    {{/content}}
{{/extend}}