{{#extend 'layout' title='SD Hacks'}}

    {{#content 'content'}}
        <div class="container project-page">
            <h1>SD Hacks</h1>
            <p class="lead">
                SD Hacks was UCSD's first major hackathon with more than 1000 hackers and a $300,000 budget.
            </p>

            <p>
                SD Hacks aimed to redefine Silicon Beach and establish San Diego as a major player in technological innovation. With a projected attendance of more than 1000 hackers, SD Hacks requires an elegant yet highly functional and reliable website to handle registrations and to deliver information to attendees. I was invited to the SD Hacks team to take be one of two leads in application development.
            </p>

            <h2 class="h3">My Role</h2>
            <p>
                I helped design and develop the website and created major features such as a queueing app for mentors at the hackathon to connect with mentees. Other duties included creating a registration system using the Typeform API and parsing through the data. We used Laravel as a framework for this project. Other technologies used were Bootstrap, JavaScript, SASS, HTML5, and PHP. During the event, I assisted with logistics, tech support, and organizing judging details.
            </p>

            <img src="/images/projects/sdhacks/home.png" alt="SD Hacks Homepage" class="img-responsive">

            <br />

            <img src="/images/projects/sdhacks/live.png" alt="SD Hacks Live" class="img-responsive">
        </div>
    {{/content}}

{{/extend}}