{{#extend 'layout' title='StudentHero'}}

    {{#content 'content'}}
        <div class="container project-page">
            <h1>StudentHero</h1>
            <p class="lead">
                StudentHero was a platform to connect high school students to summer internships and other summer programs in an effort to inspire and expose them to career possibilities.
            </p>

            <p>
                Tam Pham and I were super frustrated that high school was already frustrating as it is without having the expectation of doing something productive over the summer. Even more than that though, we realized that grade school simply didn't provide enough (or any) resources for students to learn and explore about career opportunities.
            </p>

            <h2 class="h3">My Role</h2>
            <p>
                As the technical co-founder of the 2 man team, I was responsible for creating the user experience of StudentHero as well as developing our core platform. I created a custom referral system for StudentHero that ranks users according to their referral count using the Laravel framework, and I created and designed a custom blog platform. The landing page design was the product of a collaboration with myself and a designer. I used Laravel, Bootstrap, Foundation, SASS, HTML5, and PHP.
            </p>

            <img src="/images/projects/studenthero/application.png" alt="StudentHero Application" class="img-responsive">

            <br />

            <img src="/images/projects/studenthero/homepage.png" alt="StudentHero Homepage" class="img-responsive">

            <br />

            <img src="/images/projects/studenthero/blog_post.png" alt="StudentHero Homepage" class="img-responsive">
        </div>
    {{/content}}

{{/extend}}