{{#extend 'layout' title='Campus Wayfinding'}}

    {{#content 'content'}}
        <div class="container project-page">
            <h1>Campus Wayfinding</h1>
            <p class="lead">
                For my final project for UCSD's DSGN 1 (The Design of Everyday Things), my group and I sought out to redesign UCSD's navigational tools.
            </p>

            <p>
                At first, the solutions and issues seemed clear to us, but after applying the principles of the design process, we found that the real were much larger and complicated. It was not only UCSD's maps that were flawed - it was UCSD's entire system of wayfinding (or lack thereof) that was fundamentally flawed.
            </p>

            <p>
                <a href="https://docs.google.com/a/ucsd.edu/document/d/1nN82lFEZO9W9UoloRDqR2KFpbAS8bc-Uod9FoBax8qg" target="_blank" class="h4">Check out the paper</a>
            </p>

            <img src="/images/projects/wayfinding/wayfinding_funnel.png" alt="Wayfinding Funnel" class="img-responsive">

            <br />

            <img src="/images/projects/wayfinding/campus_map.png" alt="Campus Map" class="img-responsive">

            <h2 class="h3">My Role</h2>
            <p>
                I worked on this project with three other classmates. We each shared equal amounts of work in research, ideation, presentation, and composition. We each interviewed a minimum of 5 individuals making for an initial data pool of 20 interviews. We analyzed these interviews and found the problems that were beyond the data. We also did our own research online and offline by extensively examining the UCSD campus as well as the tools available such as maps and signage.
            </p>

            <img src="/images/projects/wayfinding/problems.jpg" alt="Problems" class="img-responsive">

        </div>
    {{/content}}

{{/extend}}