{{#extend 'layout' title='Workday'}}
    {{#content 'content'}}
        <div class="container project-page">
            <a href="http://workday.com"><h1>Workday</h1></a>
            <p class="lead">
                At Workday, I worked on the Tools team as a Product Design Intern during summer of 2016. I got the
                special opportunity to make use of both my design and computer science backgrounds.
            </p>

            <p>
                Note: Unfortunately, I can't publicly share many details about my projects with Workday just yet. If
                you'd like more details, please <a href="mailto:josephle@me.com">email me</a>.
            </p>

            <br>

            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <a href="http://workday.com">
                        <img src="/images/projects/workday/workday.png" alt="Workday" class="img-responsive">
                    </a>
                </div>
            </div>

            <br>

            <h2 class="h3">A little background...</h2>
            <p>
                In a nutshell, the <strong>Tools Team</strong> at Workday designs and manages core UI components and
                widgets. Other product design teams then use the components to ensure a consistent design and experience
                across all areas of the Workday products. While working with the team, I was exposed to multiple areas
                of Workday's products.
            </p>

            <h2 class="h3">What I worked on</h2>
            <p>
                I designed and prototyped both web and mobile features and interactions. My main tools were Sketch,
                Framer, and Zeplin.
            </p>
            <p>
                I also got to use my JavaScript/Node.js skills on some internal projects.
            </p>
            <p>
                Again, I can't get into details just yet but please <a href="mailto:josephle@me.com">email me</a> if
                you'd like more information.
            </p>

            <h2 class="h3">What I learned</h2>
            <h4>Framer</h4>
            <p>
                I was looking for a great way to put my coding skills to good use, even in a design internship! Framer
                ended up being a great way to apply those skills. I was able to prototype quickly <em>and</em> fine tune
                the interactions on my prototypes. Framer was especially crucial for prototyping animations.
            </p>

            <h4>Design process (in the real world)</h4>
            <p>
                My internship at Workday was my first time applying what I learned about design in school to real,
                living projects in an industry setting. Since Workday is such a huge organization, my design process
                involved a good amount of data gathering and working with other individuals. Each project required a
                different timeline based on requirements and constraints, requiring consistent adaptation. I worked
                alongside product managers, developers, and, of course, other designs to iterate, iterate, iterate and
                develop a sensible solution.
            </p>

            <h4>Development skills are actually useful in design</h4>
            <p>
                Surprisingly, I was able to make good use of my development skills throughout my internship. Some
                instances were seemingly random - like being able to help a PM quickly find the cause of a bug. Other
                times, I was able to leverage my development skills to actually craft solutions - like writing scripts
                and software to enhance a Workday designer's day-to-day. My past background in software engineering
                allowed me to realize and understand constraints when designing throughout my internship. My ability to
                code ended up being one of the most useful skills at several points in my internship.
            </p>

        </div>
    {{/content}}
{{/extend}}