{{#extend 'layout' title='About'}}

    {{#content 'content'}}
        <div class="container" id="about">
            <div class="row">
                <div class="col-xs-12">
                    <div class="text-center">
                        <img src="images/me.jpg" alt="Joseph Le" class="img-circle img-responsive me">
                        <h1>Hi, I'm Joseph</h1>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text-center">
                    I'm a maker interested in making boring things not so boring, and I'm passionate about making impactful change in people's lives. I enjoy breaking the bounds of tradition and exploring new and innovative ideas. To accomplish my goals, I code, design, and lead.
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <h3>Music</h3>
                    <p>Concerts are my life</p>
                    <ul class="list-unstyled bolded">
                        <li>Walk the Moon</li>
                        <li>MisterWives</li>
                        <li>Panic! at the Disco</li>
                        <li>Two Door Cinema Club</li>
                        <li>Zedd</li>
                        <li>Madeon</li>
                        <li>Coldplay</li>
                    </ul>
                    <a href="https://open.spotify.com/user/126852805">Follow me on <i class="fa fa-spotify"></i></a>
                </div>

                <div class="col-sm-4">
                    <h3>Food</h3>
                    <p>Catch me cooking or eating some o' these</p>
                    <ul class="list-unstyled bolded">
                        <li>A nice aged steak <i class="fa fa-heart"></i></li>
                        <li>Popovers from <a href="http://wayfaretavern.com/">Wayfare Tavern</a></li>
                        <li>Legit street tacos</li>
                        <li>Eggs Benedict from <a href="http://www.losgatoscafe.com/">Los Gatos Cafe</a></li>
                        <li>Noodles of all kinds</li>
                        <li>Good coffee</li>
                        <li>Taco Bell</li>
                    </ul>
                    <a href="https://foursquare.com/joeyyyle">Catch me on <i class="fa fa-foursquare"></i></a>
                </div>

                <div class="col-sm-4">
                    <h3>Other</h3>
                    <p>Food and music isn't everything</p>
                    <ul class="list-unstyled bolded">
                        <li>PS4 + PC gamer</li>
                        <li>Bay Area born & raised</li>
                        <li>President of UCSD Circle K</li>
                        <li>Founding member of <a href="http://sdhacks.io">SD Hacks</a></li>
                        <li>Fast food is my guilty pleasure</li>
                    </ul>
                </div>
            </div>
        </div>
    {{/content}}

{{/extend}}