{{#extend 'layout'}}

    {{#content 'content'}}
        <div class="container">
            <div class="landing">
                <h1 class="my-name">Joseph Le</h1>
                <h2>Designer &bull; Developer</h2>
                <hr align="left"/>
                <p class="lead">
                    I'm a graduating HCI student from UCSD looking to make an impact through design and code.
                </p>
                <a href="./JosephLe.pdf" class="btn btn-primary btn-lg">Resume</a>
                <div class="social pull-right">
                    <a target="_blank" href="https://twitter.com/JosephNQLe"><i class="fa fa-2x fa-twitter"></i></a>
                    <a target="_blank" href="https://github.com/josephnle"><i class="fa fa-2x fa-github-alt"></i></a>
                    <a target="_blank" href="http://www.linkedin.com/in/josephnqle/"><i
                            class="fa fa-2x fa-linkedin"></i></a>
                    <a target="_blank" href="http://stackoverflow.com/users/3870377/joseph"><i
                            class="fa fa-2x fa-stack-overflow"></i></a>
                </div>
            </div>

            <br/>

            <div class="grid">
                <div class="grid-sizer"></div>
                {{#each projects}}
                    <a href="{{link}}">
                        <div class="grid-item">
                            <div class="project{{#if class}} project-{{class}}{{/if}}">
                                <img src="{{image}}" alt="" class="img-responsive">
                            </div>
                        </div>
                    </a>
                {{/each}}
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <h2>About</h2>
                </div>
                <div class="col-sm-6">
                    <p>
                        Originally a computer science student, I took my first human-computer interaction class in 2015
                        and got hooked on to design. These days, I'm looking for opportunities where I can blend both my
                        web development and design background to make impactful products.
                    </p>

                    <p>I'm currently working with <a href="http://spdow.ucsd.edu" target="_blank">Professor Steven
                        Dow</a> on various team-related projects.
                    </p>

                    <p>
                        Outside of design and development, I enjoy going to
                        <a href="https://open.spotify.com/user/126852805" target="_blank">concerts</a>,
                        <a href="https://foursquare.com/joeyyyle" target="_blank">eating</a>,
                        and improving my community.
                    </p>
                </div>
                <div class="col-xs-6 col-sm-3">
                    <h3 class="h4">
                        Tools
                    </h3>
                    <ul class="list-unstyled bolded">
                        <li>Sketch</li>
                        <li>Invision</li>
                        <li>Framer</li>
                        <li>Zeplin</li>
                    </ul>
                </div>
                <div class="col-xs-6 col-sm-3">
                    <h3 class="h4">
                        Skills
                    </h3>
                    <ul class="list-unstyled bolded">
                        <li>Human-Centered Design</li>
                        <li>User Research</li>
                        <li>Information Architecture</li>
                        <li>HTML / CSS / JavaScript</li>
                        <li>PHP + <a href="http://laravel.com" target="_blank">Laravel</a></li>
                        <li>Node.js</li>
                        <li>Electron</li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6 footer">
                    <a href="./JosephLe.pdf" class="btn btn-primary btn-lg">Resume</a>
                    <a href="mailto:josephle@me.com" class="btn btn-primary btn-lg">Email Me</a>
                </div>
            </div>
        </div>
    {{/content}}

{{/extend}}
