{{#extend 'layout'}}

    {{#content 'content'}}
        <div class="landing-wrapper">
            <div class="landing">
                <h1 class="my-name">Joseph Le</h1>
                <h2>Designer. Developer. Entrepreneur.</h2>
                <hr/>
                <div class="social">
                    <a target="_blank" href="https://twitter.com/JosephNQLe"><i class="fa fa-2x fa-twitter"></i></a>
                    <a target="_blank" href="https://github.com/josephnle"><i class="fa fa-2x fa-github-alt"></i></a>
                    <a target="_blank" href="http://www.linkedin.com/in/josephnqle/"><i class="fa fa-2x fa-linkedin"></i></a>
                    <a target="_blank" href="http://stackoverflow.com/users/3870377/joseph"><i class="fa fa-2x fa-stack-overflow"></i></a>
                </div>
            </div>
        </div>
    {{/content}}

{{/extend}}
