{{#extend 'layout'}}

    {{#content 'content'}}
        <div class="container">
            <div class="landing">
                <h1 class="my-name">Joseph Le</h1>
                <h2>Designer &bull; Developer</h2>
                <hr align="left"/>
                <p class="lead">
                    I'm a graduating HCI student from UCSD looking to make an impact through design and code.
                </p>
                <div class="social">
                    <a target="_blank" href="https://twitter.com/JosephNQLe"><i class="fa fa-2x fa-twitter"></i></a>
                    <a target="_blank" href="https://github.com/josephnle"><i class="fa fa-2x fa-github-alt"></i></a>
                    <a target="_blank" href="http://www.linkedin.com/in/josephnqle/"><i
                            class="fa fa-2x fa-linkedin"></i></a>
                    <a target="_blank" href="http://stackoverflow.com/users/3870377/joseph"><i
                            class="fa fa-2x fa-stack-overflow"></i></a>
                </div>
            </div>

            <br/>

            <div class="grid">
                <div class="grid-sizer"></div>
                {{#each projects}}
                <a href="{{link}}">
                    <div class="grid-item">
                        <div class="project{{#if class}} project-{{class}}{{/if}}">
                            <img src="{{image}}" alt="" class="img-responsive">
                        </div>
                    </div>
                </a>
                {{/each}}
            </div>
        </div>
    {{/content}}

{{/extend}}
