{{#extend 'layout' title='Portfolio'}}

    {{#content 'content'}}
        <div class="container">
            <div class="projects">

                {{#each projects}}
                    <a href="#">
                        <section class="project">
                            <img src="http://loremflickr.com/800/300" class="img-responsive" alt="">
                            <div class="overlay">
                                <div class="overlay-content">
                                    <h2>{{name}}</h2>
                                    <p>{{type}}</p>
                                    {{#if status}}
                                        <p class="status">{{status}}</p>
                                    {{/if}}
                                </div>
                            </div>
                        </section>
                    </a>
                {{/each}}
            </div>
        </div>
    {{/content}}

{{/extend}}